@import url("./__container/popup__container.css");


.popup {
    display: none;
    background-image: url('../../images/Overlay.png');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
  }