.profile__edit-button {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF; 
    position: absolute;
    top: 37px;
    left: 554px;
    background: none;
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        top: 154px;
        left: 254px;
    }
}