.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    align-self: center;
    background: none;
}

.profile__add-button:hover {
    opacity: 60%;
    transition: color 2s ease .5s;
}

@media screen and (max-width:425px) {
    .profile__add-button {
        width: 282px;
    }
}