@import url("./__element/elements__element.css");
@import url("./__element-pic/elements__element-pic.css");
@import url("./__caption/elements__caption.css");
@import url("./__favorite/elements__favorite.css");

.elements{
    margin: 47.25px auto 66px;
    display: grid;
    max-width: 882px;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 21px;
}