.logo {
    height: 33px;
    width: 173px;
    margin-bottom: 41px;
    margin-left: 3px;
}

@media screen and (max-width: 425) {
    .logo { 
      width: 126px;
      height: 24px;
      margin-bottom: 71px;
      margin-left: 27px;
    }
}