.profile__info {
    max-width: 428px;
    margin: 22px 18px auto 30px;
}

@media screen and (max-width: 1120px) {
    .profile__info {
        max-width: 220px;
        margin: 18px 20px auto 20px;
    }
}

@media screen and (max-width: 425px) {
    .profile__info {
        max-width: 280px;
        margin: 0;
       
    }
}