.profile__info {
    max-width: 428px;
    max-height: 77px;
    margin: 18px 154px auto 30px;
}

@media screen and (max-width: 425px) {
    .profile__info {
        max-width: 280px;
        max-height: 66px;
        margin: 10.25px auto 36 px;
    }
}