.form__close-button{
    width: 40.7px;
    height: 40.7px;
    border: none;
    position: fixed;
    right: 379.44;
    top: 148px;
    background-image: url("../../../images/CloseIcon.png");
    background-position: center;
    background-size: 40.7px;
    cursor: pointer;
    background-color: transparent;
  }

  .form__close-button:hover {
    opacity: 60%;
    transition: color 2s ease .5s;
    cursor: pointer;
  }

  @media screen and (max-width: 425px) {
    .form__close-button {
      right: 18.62px;
      top: 72.62px;
      width: 26px;
      height: 26px;
    }
  }