.form__close-button{
    width: 40.7px;
    height: 40.7px;
    background: none;
    border: none;
    position: fixed;
    right: 379.44;
    top: 148px;
  }

  .form__close-button:hover {
    opacity: 60%;
    transition: color 2s ease .5s;
  }