@import url("./__info/footer__info.css");

.footer {
    margin: 0 auto;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
  }

  @media screen and (max-width: 425px) {
    .footer {
      padding-bottom: 36px;
      font-size: 14px;
      line-height: 16.94px;
    }
  }