.elements__favorite {
    height: 18.13px;
    width: 20.76px;
    margin-right: 7.24px;
    margin-top: 6px;
    background-image: url("../../../images/favoriteHeart.svg");
    border: none;
    background-color: white;
    cursor: pointer;
  }

  .elements__favorite:hover {
    opacity: 60%;
    transition: color 2s ease .5s;
}